<a href="https://colab.research.google.com/github/Zabaluna/HW-Python/blob/analytics/Analytics_HW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Урок 1. Оформление ноутбука и закрепление функций и генераторов**

## Задача 1

Оформляйте ноутбук, используя эти советы:
<br> Номер задачи - заголовок 2;
<br>Номер подзадачи - заголовок 3;
<br>Предоставленные наборы данных оформляйте, как код.

##Задача 2

На складе лежат разные фрукты в разном количестве.
<br> Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [3]:
def fruits(**kwargs):
    count = 0
    for values in kwargs.values():
      count += values
    return count  

print(f'Всего фруктов на складе:')
fruits(orange = 8, apple = 7, lemon = 5, peach = 3)

Всего фруктов на складе:

23

##Задача 3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
<br>Используйте list comprehensions

In [11]:
data = [100, 125, -90, 345, 655, -1, 0, 200]
plusdata = [i for i in data if i >0]
print(plusdata)
print('Суммарные затраты:',sum(plusdata))

[100, 125, 345, 655, 200]
Суммарные затраты: 1425

##Задача 4

Даны 2 списка
<br>Дата покупки
<br>['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
<br>Суммы покупок по датам
<br>[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Условие 4.1 
Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [17]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30',
         '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18',
         '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20',
         '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
         '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
amount = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275,
          4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

novembersum = sum([amount[i] for i in range(len(dates)) if dates[i][5:7] == '11']) 
print('Выручка компании в ноябре:',novembersum)

Выручка компании в ноябре: 25098

###Условие 4.2
Найдите выручку компании в зависимости от месяца
<br>Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
<br>Используйте аннотирование типов.

In [22]:
def total_amount_of_months(dates: list, amount: list) -> dict:
    amount_of_month = {}
    
    for i in range(len(dates)):
        month = dates[i].split('-')[1]
        if month in amount_of_month.keys():
            amount_of_month[month] += amount[i]
        else:
            amount_of_month[month] = amount[i]
              
    return amount_of_month

print('Выручка по месяцам:', total_amount_of_months(dates, amount))

Выручка по месяцам: {'09': 25647, '12': 45452, '10': 28645, '11': 25098}